body{
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)) , url("img/mountain.jpg");
    background-blend-mode: darken;
}

#title { 
    padding: 20%
}

#socialMedia { 
    padding-top: 90px
}

.presentation{
    color: lightgray
}

.titles {
    color: lightgray;
    padding-top: 3%;
    padding-left: 7%;
}


.card {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    background-color: transparent;
    color: lightgray;
    border-left: 70px;
    border-top: 70px;
    width: 100%;
}

.card-text { 
    text-align: justify;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1%
}

.container {
    padding: 1%
}

#selfie {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    background-color: transparent;
    color: lightgray;
    border-left: 70px;
    border-top: 70px;
    width: 100%;
}

#selfieContainer {
    padding: 20%
}

#selfieCardTitleText {
    font-size: 12pt;
    text-align: center
}

#selfieCardText {
    font-size: 8pt;
    text-align: justify
}

#containerAboutMe {
    padding-top: 2.5%;
    padding-left: 5%
}

#accHobbies {
    padding: 5%
}

.panel-body {
    color: lightgray
}

.titlesAboutMe {
    color: lightgray;

}

.container-fluid {
    padding: 2%;
}

.projectTitle {
    color: lightgray;
    font-size: 20pt;
    padding-left: 10%;
    padding-right: 10%;
}

#projectDescription {
    color: lightgray;
    padding: 10%;
    text-align: justify;
}

p {
    color: lightgray;
}

.titlesProgramming {
    font-size: 20pt;
    color: lightgray;
    padding-left: 2%
}

#programmingContainer {
    padding-top: 5%;
}

.prIcon {
    margin: 5%;
    align-content: center;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }












